Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/bin/
.DS_Store
**/lib
**/*.log

**/*.rdb
**/*.asscache
.gradle/**.*
/target
/build
/out

**/classes
/plugins
/web-app/plugins

/*.zip
/plugin.xml

/*.war
/web-app/WEB-INF/classes

/logs